@import '../../playground-ui/src/index.css';

/* Scan playground-ui dist for Tailwind classes used by consumed components */
@source '../../node_modules/@mastra/playground-ui';

@font-face {
  font-family: 'TasaExplorer';
  src:
    local('TasaExplorer'),
    url('./assets/fonts/TASAExplorerVF.woff2') format('woff2');
}
@font-face {
  font-family: 'Inter';
  src:
    local('Inter'),
    url('./assets/fonts/InterVariable.ttf') format('truetype');
}
@font-face {
  font-family: 'GeistMonoVF';
  src:
    local('GeistMonoVF'),
    url('./assets/fonts/GeistMonoVF.woff') format('woff');
}

@layer base {
  :root {
    --top-bar-height: 40px;
    --color-thumb: var(--surface4);
    --color-thumb-hover: var(--surface6);
    --color-track: transparent;
  }
  html {
    scrollbar-color: var(--color-thumb) var(--color-track);
    scrollbar-width: thin;
  }
}

::-webkit-scrollbar {
  width: 5px;
  height: 8px;
}
::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 5px;
}
html::-webkit-scrollbar-thumb {
  background: var(--color-thumb);
  border-radius: 4px;
}
html::-webkit-scrollbar-thumb:hover {
  background: var(--color-thumb-hover);
}

.scorerListItem:has(+ .expanded) {
  border-bottom: none;
}
.scorerListItem.expanded:has(+ .expanded) {
  margin-bottom: 5px;
}

@keyframes slideDown {
  from {
    height: 0;
  }
  to {
    height: var(--radix-collapsible-content-height);
  }
}

@keyframes slideUp {
  from {
    height: var(--radix-collapsible-content-height);
  }
  to {
    height: 0;
  }
}

div[class^='language-'],
pre[class^='language-'],
code[class^='language-'] {
  font-family: var(--geist-mono) !important;
}

th:has(header) {
  height: var(--top-bar-height) !important;
  padding-block: 0 !important;
}
